@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313030;
  border-radius: 5px;
  marker-start: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #807f7fd1;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




.cdx-notify--error {
background: #fb5d5d !important;
}

.cdx-notify__cross::after,
.cdx-notify__cross::before {
background: white;
}

 .ce-inline-toolbar,
 .codex-editor--narrow .ce-toolbox,
 .ce-conversion-toolbar,
 .ce-settings,
 .ce-settings__button,
 .ce-toolbar__settings-btn,
 .cdx-button,
 .ce-popover,
 .ce-toolbar__plus:hover {
background: #fff;
color: #000;
}

 .ce-inline-tool,
 .ce-conversion-toolbar__label,
 .ce-toolbox__button,
 .cdx-settings-button,
 .ce-toolbar__plus {
color: #616161;
}

 ::selection {
background: #4d4d4d;
}

 .cdx-settings-button:hover,
 .ce-settings__button:hover,
 .ce-toolbox__button--active,
 .ce-toolbox__button:hover,
 .cdx-button:hover,
 .ce-inline-toolbar__dropdown:hover,
 .ce-inline-tool:hover,
 .ce-popover__item:hover,
 .ce-toolbar__settings-btn:hover {
background-color: #4d4d4d;
color: #fff;
}

 .cdx-notify--error {
background: #fb5d5d !important;
}

 .cdx-notify__cross::after,
 .cdx-notify__cross::before {
background: #1a1a1a;
}

h1.ce-header{
  @apply text-3xl font-bold
}
h2.ce-header{
  @apply text-2xl font-semibold
}
h3.ce-header{
  @apply text-xl font-semibold
}
h4.ce-header{
  @apply text-lg font-semibold
}
h5.ce-header{
  @apply text-base font-semibold
}
h6.ce-header{
  @apply text-base font-semibold
}